@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('../fonts/playfair-display.woff2') format('woff2');
}

@font-face {
	font-family: 'Josefin Sans Thin';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('../fonts/JosefinSans-Thin.ttf');
}

@font-face {
	font-family: 'Josefin Sans Bold';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('../fonts/JosefinSans-Bold.ttf');
}

@font-face {
	font-family: 'Josefin Sans Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('../fonts/JosefinSans-Regular.ttf');
}

@font-face {
	font-family: 'Alegreya Sans Thin';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('../fonts/AlegreyaSans-Thin.ttf');
}

@font-face {
	font-family: 'Alegreya Sans Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('../fonts/AlegreyaSans-Regular.ttf');
}

@font-face {
		font-family: 'Alegreya Sans Light';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: local(''), url('../fonts/AlegreyaSans-Light.ttf');
}

@font-face {
			font-family: 'Josefin Sans Light';
			font-style: normal;
			font-weight: 400;
			font-display: swap;
			src: local(''), url('../fonts/JosefinSans-Light.ttf');
}

@font-face {
	font-family: 'Candara Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('../fonts/Candara.ttf');
}
